<p id="notice"><%= notice %></p>

<h2>Appointments for <%= @physician.name %></h2>
<table>
  <tr>
    <td><b>Patient</b></td>
    <td><b>Date</b></td>
  </tr>
  <% for appointment in @physician.appointments %>
      <tr>
        <td><%= appointment.patient.name %></td>
        <td><%= appointment.appointment_date %></td>
      </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
