<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :appointment_date %><br />
    <%= f.datetime_select :appointment_date %>
  </div>
  <div class="field">
    <%= f.label :physician_id %><br />
    <%= f.select(:physician_id, Physician.all.collect { |ph| [ph.name, ph.id]}) %>
  </div>
  <div class="field">
    <%= f.label :patient_id %><br />
    <%= f.select(:patient_id, Patient.all.collect { |pat| [pat.name, pat.id]}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
